<div class="container">

	<%= simple_form_for @tweet do |f| %>
	  <%= f.input :content, input_html: {style: 'margin-bottom: 10px;'} %>
	  <%= f.button :submit %>
	<% end %>

	<% Tweet.all.each do |tweet| %>
		<%= tweet.content %><br />
	<% end %>
</div>